<% if !flights.empty? %>
  <table class="table is-striped is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th></th>
        <th>Flight number</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% flights.each do |flight| %>
        <tr>
          <td class="is-narrow"><input type="radio" name="flight"></td>
          <td><%= flight.flight_number %></td>
          <td><%= flight.from_airport.code %></td>
          <td><%= flight.to_airport.code %></td>
          <td><%= flight.departure.strftime("%m/%d/%y") %></td>
          <td><%= flight.departure.to_formatted_s(:time) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button class="button is-primary">Book flight</button>
<% elsif params.empty? %>
  <article class="message is-info">
    <div class="message-body">
      <p>Search for a flight above!</p>
    </div>
  </article>
<% else %>
  <article class="message is-danger">
    <div class="message-body">
      <p>No flights found!</p>
    </div>
  </article>
<% end %>