<div class="table-container">
  <table class="table is-striped is-fullwidth is-hidden-touch">
    <thead>
      <tr>
        <th>Flight number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flights.each do |flight| %>
        <tr>
          <td><%= flight.flight_number %></td>
          <td><%= flight.from_airport.code %></td>
          <td><%= flight.to_airport.code %></td>
          <td><%= flight.departure.strftime("%m/%d/%y") %> at <%= flight.departure.to_formatted_s(:time) %></td>
          <td><%= (flight.departure + flight.duration.seconds).strftime("%m/%d/%y") %> at <%= (flight.departure + flight.duration.seconds).to_formatted_s(:time) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="panel is-primary is-hidden-desktop">
  <div class="panel-heading">
    <strong><%= flights.count == 1 ? "Flight #{flights.first.flight_number}" : "Flights" %></strong>
  </div>
  <% flights.each do |flight| %>
    <div class="panel-block">
      <div class="control is-size-5">
        <%= flight.from_airport.code %> to <%= flight.to_airport.code %>
      </div>
    </div>
    <div class="panel-block">
      <div class="control is-size-5">
        <strong>Departure:</strong> <%= flight.departure.strftime("%m/%d/%y") %> at <%= flight.departure.to_formatted_s(:time) %>
      </div>
    </div>
    <div class="panel-block">
      <div class="control is-size-5">
        <strong>Arrival:</strong> <%= (flight.departure + flight.duration.seconds).strftime("%m/%d/%y") %> at <%= (flight.departure + flight.duration.seconds).to_formatted_s(:time) %>
      </div>
    </div>
  <% end %>
</div>

