<%= simple_form_for flight, method: :get, url: flights_path do |f| %>
  <div class="field is-grouped">
    <div class="control">
      <div class="select">
        <%= f.input_field :from_airport, collection: airport_options, prompt: "From:", selected: params[:from_airport] %>
      </div>
    </div>
    <div class="control">
      <div class="select">
        <%= f.input_field :to_airport, collection: airport_options, prompt: "To:", selected: params[:to_airport] %>
      </div>
    </div>
    <div class="control">
      <%= f.input :departure_date, html5: true, input_html: { class: "input", value: params[:departure_date] }, label_html: { class: "label" } %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.button :submit, "Find flights", class: "button is-info" %>
    </div>
  </div>
<% end %>

<%# , defaults: { input_html: { class: "input" }, label_html: { class: "label" } %>