<div class="panel is-info">
  <p class="panel-heading">Choose your flight:</p>
  <% if flights.empty? %>
    <div class="box">
      <article class="message is-danger">
        <div class="message-body">
          <p>No flights found!</p>
        </div>
      </article>
    </div>
  <% else %>
    <div class="panel-block is-hidden-touch">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child is-1 container"></div>
          <div class="tile is-child container"><strong>Flight number</strong></div>
          <div class="tile is-child container"><strong>From</strong></div>
          <div class="tile is-child"><strong>To</strong></div>
          <div class="tile is-child"><strong>Departure</strong></div>
          <div class="tile is-child"><strong>Arrival</strong></div>
        </div>
      </div>
    </div>
    <%= form_with url: new_booking_path, method: :get do |f| %>
      <%= f.hidden_field :passenger_count, value: params[:passengers] %>

      <% flights.each do |flight| %>
        <%= f.label "flight_id_#{flight.id}", flight.flight_number, class: "panel-block" do %>
          <div class="tile is-ancestor radio">
            <div class="tile is-parent">
              <div class="tile is-child is-1"><%= f.radio_button :flight_id, flight.id %></div>
              <div class="tile is-child is-hidden-desktop"><strong><%= flight.flight_number %></strong> | <%= flight.from_airport.code %> to <%= flight.to_airport.code %></div>
              <div class="tile is-child is-hidden-desktop"><strong>Take off:</strong> <%= flight.departure.strftime("%m/%d") %> at <%= flight.departure.to_formatted_s(:time) %></div>
              <div class="tile is-child is-hidden-desktop"><strong>Landing:</strong> <%= (flight.departure + flight.duration.seconds).strftime("%m/%d") %> at <%= (flight.departure + flight.duration.seconds).to_formatted_s(:time) %></div>
              <div class="tile is-child is-hidden-touch"><%= flight.flight_number %></div>
              <div class="tile is-child is-hidden-touch"><%= flight.from_airport.code %></div>
              <div class="tile is-child is-hidden-touch"><%= flight.to_airport.code %></div>
              <div class="tile is-child is-hidden-touch"><%= flight.departure.strftime("%m/%d/%y") %> at <%= flight.departure.to_formatted_s(:time) %></div>
              <div class="tile is-child is-hidden-touch"><%= (flight.departure + flight.duration.seconds).strftime("%m/%d/%y") %> at <%= (flight.departure + flight.duration.seconds).to_formatted_s(:time) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="panel-block">
        <%= f.submit 'Book flight', class: 'button is-primary' %>
      </div>
    <% end %>    
  <% end %>
</div>
